.jumbotron{
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
.jumbotron h1{
	font-family: 'Boogaloo', cursive;
	text-align: center;
	color: #cccccc;	
}
.content{
	width: 75%;
}

